<!DOCTYPE html>

<style>
div.container {
background-color: #ffffff;
}
div.container p {
text-align: center;
font-family: Arial;
font-size: 190px;
font-weight: bold;

color: #f50000;




}
</style>

<div class="container">
<p>80</p>
</div>